{% extends 'base.html' %}
{% load static %} {% block link %}{% static 'css/orders.css' %}{% endblock link %} {% block title %}Recxo - orders {% endblock title %} {% block body %}

<!-- section 1 starts -->
<section class="section-2">
  {% if messages %} {% for message in messages %}
  <div
    class="alert alert-{{ message.tags }} alert-dismissible fade show my-0 "
    role="alert"
  >
    <strong> {{ message }} </strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %} {% endif %}
  <div class="sub-section2-1">
    <h1 class="intro">order</h1>
    
    <div class="order_layout">
      <form action="#" method="post" class="form">
        {% csrf_token %} 

        <div class="form__group">
          <label for="room_topic">Room Topic</label>
          <input type="text" name="topic" list="topic-list" />
          <datalist id="topic-list">
            <select id="room__topics">
              {% for software in softwares %}
              <option value="{{topic.name}}">{{software.software}}</option>
              {% endfor %}
            </select>
          </datalist>
        </div>

        <div class="form__group">
          <label for="room_name">Room Name</label>
          {{form.name}}
        </div>

        <div class="form__group">
          <label for="room_name">Room Description</label>
          {{form.description}}
        </div>

        <div class="form__action">
          <a class="btn btn--dark" href="{% url 'home' %}">Cancel</a>
          <button class="btn btn--main" type="submit">Create Room</button>
        </div>

      </form>

    </div>


  
    
  </div>
</section>


{% endblock body %}
