{% extends 'base.html' %}
{% load static %} {% block link %}{% static 'css/orders.css' %}{% endblock link %} {% block title %}Recxo - orders {% endblock title %} {% block body %}

<!-- section 1 starts -->
<section class="section-2">
  {% if messages %} {% for message in messages %}
  <div
    class="alert alert-{{ message.tags }} alert-dismissible fade show my-0 "
    role="alert"
  >
    <strong> {{ message }} </strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %} {% endif %}
  <div class="sub-section2-1">
    <h1 class="intro">order</h1>
    
    <div class="order_layout">
      <form action="" method="post" class="form">
        {% csrf_token %} 
        
        <div class="form__group">
          <label for="soft_name">Name</label>
          {{form.soft_name}}
        </div>

        <div class="form__group">
          <label for="software">softwares</label>
          <input type="text" name="software" list="software-list" />
          {{form.software}}
          <datalist id="software-list">
          </datalist>
          <!-- {% for software in softwares %}
            <option value="{{software.name}}">{{software.name}}</option>
            {% endfor %} -->
            <select id="order__software">
              </select>
        </div>
        
        <div class="form__group">
          <label for="soft_type">software type</label>
          <!-- <input type="text" name="soft_type" list="software-list" /> -->
          {{form.soft_type}}
          <datalist id="software-list">
            <!-- {{form.soft_type}} -->
            <!-- <select id="order__software_type">
              {% for software in software_type %}
              <option value="{{software.name}}">{{software.name}}</option>
              {% endfor %} -->
              <!-- {{form.soft_type}} -->
            </select>
          </datalist>
        </div>

        
        
        <div class="form__group">
          <label for="soft_name">time</label>
          {{form.soft_time}}
        </div>
        
        <div class="form__group">
          <label for="soft_name">Amount</label>
          {{form.soft_amount}}
        </div>
        
        <div class="form__group">
          <label for="soft_name">Describe about your software</label>
          {{form.soft_desc}}
        </div>

        <div class="form__action">
          <a class="btn btn--dark" href="{% url 'home' %}">Cancel</a>
          <button class="btn btn--main" type="submit">Order</button>
        </div>



        <!-- <h2>
          form 2
        </h2>

        
        <div>
          <label for="software_type">Software Type</label>
          <input type="text" list="software-list" name="software">
          <datalist id="software-list">
            <select name="" id="software_type">
              <option value="python">python</option>
            </select>
          </datalist>
          {{form.soft_type}}
        </div> -->

        

      </form>

    </div>


  
    
  </div>
</section>


{% endblock body %}
