{% load custom_filters %}
<style>
  .div{
    display: flex;
    flex-wrap: wrap;
  }
.blogPostBlog{

  height: 15rem;
  margin: 2em 3rem;
  width: 35%;
  background-color: rgba(64, 216, 239, 0.696);
  
}
</style>

<div class="div">
  

{% for blog in blogposts %}

<div class="blogPostBlog">
  <div class="blogPostBlog__header">
    <a href="{% url 'blog-user-profile' blog.author.id%}">
      <div>@{{blog.author}}</div>
    </a>
    <p>{{blog.created|timesince}} </p>
  </div>

  <div class="blogPostBlog__content">
    <a href=""> {{blog.name}} </a>
    <p>{{blog.content|limit_characters:200}}</p>
  </div>

  <div class="blogPostBlog__meta">{{blog.topic}}</div>
</div>
{% endfor %}
</div>