{% extends 'blog_base.html' %} {% block title %} blog{% endblock title %}
{% block blogactive %}active{% endblock blogactive %} {% block body %}

<style>
.container{
  display: grid;
  grid: 1fr 2fr 1fr;
}
</style>


<span>
  <ul class="navbar-nav ml-auto mx-1">
    <li class="nav-item dropdown ">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Choose article
      </a>
      <ul class="dropdown-menu ">
        <li><a class="dropdown-item" href="#">Artificial Intelligence</a></li>
        <li><a class="dropdown-item" href="#">Machine Learning</a></li>
        <li><a class="dropdown-item" href="#">Deep Learning</a></li>
        <li><a class="dropdown-item" href="#">Technology</a></li>
        <li><a class="dropdown-item" href="#">Science</a></li>
        <li><a class="dropdown-item" href="#">Education</a></li>
        <li><a class="dropdown-item" href="#">Experience</a></li>
        <li><a class="dropdown-item" href="#">Travelling</a></li>
        <li><a class="dropdown-item" href="#">Books</a></li>

        <li><hr class="dropdown-divider"></li>
      </ul>
    </li>
  </ul>
</span>




<div class="container my-3">


  <div class="topic" style= "border: 2px solid red">

  </div>
  

  <span>
    <h2>Coding,AI,ML,DL Articles</h2>
  </span>
  {% for post in allPosts %}
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}, {{post.views}} views</strong>
      <h3 class="mb-0">{{post.title}}</h3>
      <div class="mb-1 text-muted">{{post.datetime}}</div>
      <p class="card-text mb-auto">
          <div class="preview">
          {{post.content|safe| truncatechars:500}}
        </div>
        </p>
      <div class="my-2">
        <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
      </div>
    </div> 
   
  </div>
  {% endfor %}

  <div class="activity" style= "border: 2px solid red">

  </div>

</div>
  {% endblock body %}
