{% extends 'blog_base.html'%}  
{% block title%} blog{% endblock title%}
{% block body%}

<style>
  * {
    text-align: center;
}

#section-1 {
}

#section-1 .sub-section-1{
  display: flex;
    max-width: 1450px;
    margin: 0px auto;
}

#section-1 .box {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
}

#section-1 .item {
    border: 2px solid red;
}
</style>

<section id="section-1">
  <div class="sub-section-1">
    <div class="box">

      <div class="blog_topic item">{% include 'blog/topic_component.html'%}</div>
      <div class="blog_feed item">blog_feed</div>
      <div class="blog_activity item">blog_activity</div>
    </div>
  </div>
</section>
{% endblock body%}
